*{
    box-sizing:border-box;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
    background-color:#555;
}

.modal{
    height:80vh;
    overflow:auto;
    width:900px;
    max-width: 80%;
    background-color:whitesmoke;
    border-radius:8px;
    display:flex;
    flex-direction:column;
}
.header{
    padding:0 1rem;
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid #777;
    padding: 0.5rem;
}
.title{
    font-size: 1.5rem;
    padding-top: 1rem;
}
.close-button{
    background:none;
    border:none;
    font-size:1.5rem;
    font-weight:bold;
    margin:0;
    padding:0;
    cursor:pointer;
    align-self: flex-start;
    padding:.5rem;
}